body {
    background: black;
    color: #8B8549;
}

canvas {
    border: 1px solid #333;
}

h1 {
    text-shadow: 0 0 2px;
}

.finish {
    font-size: 24px;
    height: 400px;
    padding-top: 200px;
}

#container {
    width: 800px;
    text-align: center;
    margin: auto;
}

#help {
    text-align: left;
}

#field {
    position: relative;
    height: 600px;
}

.message {
    position: absolute;
    top: -3px;
    text-align: center;
    font-size: 60px;
    background: #000;
    height: 409px;
    width: 102%;
    padding-top: 200px;
    opacity: 0.84;
    cursor: pointer;
    left: -3px;
}

.message small {
    font-size: 30px;
}

#field .level {
    width: 100px;
    height: 80px;
    float: left;
    color: #fff;
    background: #777;
    border-radius: 50px;
    margin: 50px;
    font-size: 40px;
    padding-top: 20px;
}

#field .level.active {
    background: #aa33dd;
    cursor: pointer;
}

.button {
    float: right;
    margin: 10px;
    padding: 7px;
    border: 2px solid #8B8549;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 0 7px #8b8549;
}

.button:hover,
.button.active {
    color: #000;
    background: #8B8549;
}

 .button.active {
    box-shadow: 0 0 15px #8b8549;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
}

div#toolbar #backToLevels {
    float: left;
}

.hidden {
    display: none;
}

#header {
    width: 710px;
    margin: auto;
}

#mode {
    float: left;
    text-align: left;
}

#field.normal canvas {
    border: 1px solid #8B8549;
    box-shadow: inset 0 0 6px, 0 0 6px;
}

#field.hard canvas {
    border: 1px solid #aa33dd;
    box-shadow: inset 0 0 6px #aa33dd, 0 0 6px #aa33dd;
}

#field.hard:after {
    content: 'HARD MODE';
    position: absolute;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -mox-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    right: -102px;
    top: 156px;
    color: #aa33dd;
    font-size: 30px;
}

@media screen and (max-height: 650px) {
    body {
        margin: 0;
        overflow: hidden;
    }
    #toolbar {
        bottom: 0;
        z-index: 10;
        position: fixed;
        width: 800px;
    }
    #field div.level {
        margin: 30px;
        padding-top: 16px;
       /*width: 80px;*/
       /*height: 60px;*/
       /*font-size: 30px;*/
    }
}