<style>
    #firstTip {
        margin-top: -150px;
    }

    #firstTip div {
        position: absolute;
        font-size: 20px;
        top: 335px;
    }

    .yourColony {
        left: 5%;
    }

    .enemyColony {
        right:5%;
    }

    .neutralColony{
        left: 36.5%;
    }

    #firstTip div.continue {
        position: absolute;
        top: 487px;
        left: 40%;
    }

</style>
<div id="firstTip">
    This game is about mold.
    <br>
    <div class="yourColony">It`s your colony</div>
    <div class="enemyColony">It`s enemy colony</div>
    <div class="neutralColony">All gray colonies is neutral</div>
    <div class="continue">click to continue >>></div>
</div>