<style>

    @-webkit-keyframes move {
        from {left: 86px;}
        to {left: 290px;}
    }
    @-moz-keyframes move {
        from {left: 86px;}
        to {left: 290px;}
    }
    @keyframes move {
        from {left: 86px;}
        to {left: 290px;}
    }


    #secondTip {
        margin-top: -150px;
    }

    #secondTip div {
        position: absolute;
        font-size: 20px;
        top: 335px;
    }

    #secondTip div.tip {
        right: 20px;
        top: 69%;
    }

    #secondTip div.title {
        left: 35px;
        top: 60%;
    }

    #secondTip div.pointer {
        left: 86px;
        top: 307px;
        -webkit-animation: move 2s infinite;
        -moz-animation: move 2s infinite;
        animation: move 2s infinite;
    }

    #secondTip div.continue {
        position: absolute;
        top: 487px;
        left: 26%;
    }

</style>
<div id="secondTip">
    <div class="pointer"><img width="30" src="js/levels/1/pointer.png"></div>
    <div class="title">
        Drag and drop spores between colonies.
    </div>
    <div class="tip">You can send spores between friendly colonies too.</div>
    <div class="continue">Try to capture all colonies! Click to start!</div>
</div>