<style>

    @-webkit-keyframes move {
        from {
            left: 86px;
        }
        to {
            left: 236px;
            top: 184px;
        }
    }

    @-moz-keyframes move {
        from {
            left: 86px;
        }
        to {
            left: 236px;
            top: 184px;
        }
    }

    @keyframes move {
        from {
            left: 86px;
        }
        to {
            left: 236px;
            top: 184px;
        }
    }

    #secondTip {
        margin-top: -150px;
    }

    #secondTip div {
        position: absolute;
        font-size: 20px;
        top: 335px;
    }

    #secondTip div.title {
        left: 35px;
        top: 60%;
    }

    #secondTip div.pointer {
        left: 86px;
        top: 307px;
        -webkit-animation: move 2s infinite;
        -moz-animation: move 2s infinite;
        animation: move 2s infinite;
        color: #fff;
    }

    #secondTip div.continue {
        position: absolute;
        top: 487px;
        left: 43%;
    }

</style>

<div id="secondTip">
    <div class="pointer">15<img width="30" src="js/levels/1/pointer.png"></div>
    <div class="title">
        Hold 'shift' to drag half of spores.
    </div>
    <div class="continue">Click to start!</div>
</div>